<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="It run all steps from Sanity" parallel="false">
    <!--<listeners>-->
        <!--<listener class-name="framework.ExecutionListner"/>-->
        <!--<listener class-name="framework.TestsListener"/>-->
    <!--</listeners>-->
    <!-- Setup all base parameters for tests -->

    <parameter name="link" value="http://archive.kbb1.com/" />

    <suite-files>
        <suite-file path="src/test/resources/testng/DailyLessonsTests.xml" />
        <suite-file path="src/test/resources/testng/ProgramsTests.xml" />
        <suite-file path="src/test/resources/testng/EventsTests.xml" />
        <!--<suite-file path="src/test/resources/testng/Player.xml" />-->
    </suite-files>
</suite>
